.topbar-wrapper img {
    content: url('logo.png');
    background-size: 150px;
    background-repeat: no-repeat, no-repeat;
    background-position: 15px 5px;
    height: 110%;
    float: left;
    width: 170px;
}
.topbar-wrapper span {
    display: none;
}